  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Music App — CST 336 Final Project</p>
    <img class="logo"
            src="https://i0.wp.com/omegadeltaphi.com/wp-content/uploads/2020/05/CSUMB1.png?resize=1080%2C284&ssl=1">
  </footer>

</body>
</html>
