<nav>
  <div class="nav-links">
    <a href="/artist">Search For Artist</a>
    <a href="/events"> Search for Events</a>

    <% if (locals.fullName) { %>
      <a href="/user/favorites">Favorites</a>
      <a href="/user/profile">Profile</a>
      <a href="/user/settings">Settings</a>

      <% if (isAdmin == 1) { %>
  <a href="/user/admin/users">Manage Users</a>
<% } %>

      <a href="/logout">Logout</a>
    <% } %>
  </div>
</nav>