<nav>
  <div class="nav-links">
    <a href="/artist">Search For Artist</a>
    <a href="/events"> Search for Events</a>

    <% if (locals.fullName) { %>
      <a href="/user/favorites">Favorites</a>
      <a href="/user/profile">Profile</a>
      <a href="/user/settings">Settings</a>

      <% if (locals.role === 'admin') { %>
        <a href="/admin">Admin</a>
      <% } %>

      <a href="/logout">Logout</a>
    <% } %>
  </div>
</nav>