<% locals.title = 'Error' %>
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <a href="/">Go home</a>
</main>

<%- include('partials/footer') %>
